@page "{id:int}"
@model SupermarketWEB.Pages.PayModes.EditModel
@{
    ViewData["Title"] = "Edit Pay Mode";
}

<h1>Edit Pay Mode</h1>

<form method="post">
    <input type="hidden" asp-for="PayMode.Id" />
    <div>
        <label asp-for="PayMode.Description"></label>
        <input asp-for="PayMode.Description" />
        <span asp-validation-for="PayMode.Description"></span>
    </div>
    <div>
        <label asp-for="PayMode.MetodoPago"></label>
        <input asp-for="PayMode.MetodoPago" />
        <span asp-validation-for="PayMode.MetodoPago"></span>
    </div>
    <input type="submit" value="Save" class="btn btn-success" />
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</form>


